<div class="main-img">
    <img src={{ site.data.links.images.head-img }} class="float-right"/>
</div>
<div class="main-img-mobile">
    <img src={{ site.data.links.images.head-img-mobile }} class="float-right"/>
</div>
<div class="vertical-middle main-title">
    <section class="main-caption-content vertical-middle text-center">
        <div class="caption-text transition-animation">
            <h3>{{ site.data.main.head.main-text }}</h3>
            <span>{{ site.data.main.head.subtext }}</span><br>
            <span class="hide-mobile"><a href="#CVForm" class="button" style="margin-top: 35px;">
                <span class="transition-animation-btn btn-animation">Найди работу мечты</span>
            </a></span>
            <span class="show-mobile"><a href="/contacts" class="button" style="margin-top: 35px;">
                Найди работу мечты
            </a></span>
        </div>
    </section>
</div>