<div class="main-whysection-content">
    <div style="position: relative; z-index: 200;">
        <section class="vac-description">
            <img src="{{ site.data.links.images.eye }}" class="begin-position-img transition-animation">
            <h3 class="begin-position-vac-text transition-animation">{{ site.data.main.sections.vacancies.title }}</h3>
            <span class="begin-position-vac-text transition-animation">{{ site.data.main.sections.vacancies.text }}</span>
        </section>
        <br>
        <a href="/vacancy" class="button all-vacancy-position"><span class="transition-animation-btn btn-animation">Смотреть все вакансии</span></a>
    </div>
    <div class="vacancy-img"></div>
    <div class="vacancy-img-text"><img src="/images/vac.png" class="begin-position-vacSubtitble transition-animation"/></div>
    <div class="lines-bg begin-position-triangle transition-animation"><div class="line-bg-tr"></div></div>
</div>