<div class="main-vacancy-content">
    <section class="description begin-position-text-next transition-animation">
        <h3>{{ site.data.main.sections.why.title }}</h3>
        <span>{{ site.data.main.sections.why.text }}</span>
    </section>

    <section class="why-freshcode">
        <div class="why-lines"></div>
        <div class="why-freshcode-slides">
            <div class="slider-top">
                {% include main/slider.html %}
            </div>
        </div>

    </section>
</div>