<footer>
    <div class="container">
        <div class="footer-main">
            <div class="vertical-middle footer-col"><span class="copyright">© <span id="currentYear"></span> Freshcode. All rights reserved.</span></div>
            <div class="vertical-middle footer-col">
                <ul class="contact-list">
                </ul>
            </div>
            <div class="vertical-middle footer-col">
                <ul class="links-block">
                    {% for s in site.data.links.footer.social %}
                    <li class="links"><a href="{{s.link}}" class="float-right" target="_blank"><img src="{{ s.img }}" /></a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</footer>


<script src="/js/lib/jquery-3.2.1.min.js"></script>
<script src="/js/lib/materialize.min.js"></script>
<script src="/js/lib/jquery.slides.min.js"></script>
<script src="/js/lib/parsley.min.js"></script>
<script src="/js/main-worker.js"></script>
