<div class="base-section">
  <div class="text-block">
    <p class="title transition-animation">{{site.data.vacancies.title}}</p>
    <hr class="line transition-animation">
    <div class="subtitle transition-animation baseintro-position">{{site.data.vacancies.subtitle}}</div>
    <div class="intro transition-animation baseintro-position">{{site.data.vacancies.intro}}</div>
    <div class="shadow"></div>
  </div>
  <div class="block-image">
    <img src={{ site.data.links.vacancies_img.chair }} class="float-right"/>
    <div class="dote"></div>
  </div>
</div>
