<div class="second-section candidat-section">
  <hr class="line"/>
  <div class="image-with-text">
    <div class="candidate">
      <div class="text text-rotation transition-animation">
        <p class="name">{{site.data.vacancies.second_section.name}}</p>
        <p class="position">{{site.data.vacancies.second_section.position}}</p>
      </div>
      <div class="img">
        <img src="{{ site.data.links.vacancies_img.troyanova }}" />
      </div>
    </div>

    <div class="block">
      <div class="subtext">{{site.data.vacancies.second_section.subtext}}</div>
      <div class="white-block">
        <div class="info-block align-center">
          <div class="info">
            {{site.data.vacancies.second_section.text}}</div>
          <div class="number" style="display: none">
            <hr class="number-line"/>
            <p>
              {{site.data.vacancies.second_section.telephone}}
            </p>
          </div>
        </div>
      </div>
      <div class="shadow"></div>
      <div class="shadow-triangle"></div>
    </div>
  </div>
</div>