<div class="first-section">
  <div class="left-text"><hr class="line-vertical"/>{{site.data.about.first_section.work}}</div>
  <img class="absolute-img top big" src={{site.data.links.about_img.shape}} alt="dote-line">
  <img class="absolute-img top small" src={{site.data.links.about_img.small_shape}} alt="dote-line">
  <div class="right-text">
    <div class="white-block"> </div>
      <p> {{site.data.about.first_section.resume}}</p>
      <div class="about">{{site.data.about.first_section.about}}</div>
    <div class="button">{{site.data.about.first_section.button}}</div>
    <div class="dote"></div>
    <div class="next">{{site.data.about.first_section.next}}</div>
  </div>
  <img class="absolute-img bottom big" src={{site.data.links.about_img.dote_line}} alt="dote-line">
  <img class="absolute-img bottom small" src={{site.data.links.about_img.small_dote_line}} alt="dote-line">
  <div class="subtext">{{site.data.about.first_section.subtext}}</div>
</div>
