<div class="third-section to-us-section">
  <div class="subtext transition-animation">{{site.data.vacancies.third_section.subtext}}</div>
  <div class="image">
    <img src={{site.data.links.vacancies_img.vector}} alt="Vector">
  </div>
  <div class="image-logo">
    <img src={{site.data.links.vacancies_img.fresh}} alt="Logo">
  </div>
  <div class="dotes-block">
    <div class="dote-left"></div>
    <div class="dote-right"></div>
  </div>
  <div class="dote"></div>
  <div class="text-block">
    <div class="title transition-animation">{{site.data.vacancies.third_section.title}}</div>
    <div class="subtitle transition-animation">{{site.data.vacancies.third_section.subtitle}}</div>
    <a href="#CVForm" class="button show-modal hide-mobile"><span class="transition-animation-btn btn-animation">{{site.data.vacancies.third_section.button}}</span></a>
    <a href="/contacts" class="button show-modal show-mobile">{{site.data.vacancies.third_section.button}}</a>
  </div>
</div>