<div class="base-section">
  <div class="text-block">
    <div class="about-title transition-animation">
      <p class="title">{{site.data.about.title}}</p>
      <hr class="line">
      <div class="subtitle">{{site.data.about.subtitle}}</div>
    </div>
    <div class="logo">
      <img src={{site.data.links.vacancies_img.fresh}} class="float-right transition-animation-slower about-bg-img"/>
    </div>
    <div class="dotes">
      <img src={{site.data.links.about_img.triangle}} class="float-right"/>
    </div>
  </div>
  <div class="block-image">
    <img src={{site.data.links.about_img.team}} class="float-right"/>
    <div class="dote"></div>
  </div>
</div>