<div class="first-section about-f-section">
  <div class="left-text transition-animation"><hr class="line-vertical"/>{{site.data.about.first_section.work}}</div>
  <img class="absolute-img top big about-arrow transition-animation" src={{site.data.links.about_img.shape}} alt="dote-line">
  <img class="absolute-img top small" src={{site.data.links.about_img.small_shape}} alt="dote-line">
  <div class="right-text">
    <div class="white-block"> </div>
      <p> {{site.data.about.first_section.resume}}</p>
      <div class="about">{{site.data.about.first_section.about}}</div>
    <a href="#CVForm" class="button show-modal hide-mobile"><span class="transition-animation-btn btn-animation">{{site.data.about.first_section.button}}</span></a>
    <a href="/contacts" class="button show-modal show-mobile">{{site.data.about.first_section.button}}</a>
    <div class="dote"></div>
    <div class="next transition-animation">{{site.data.about.first_section.next}}</div>
  </div>
  <img class="absolute-img bottom big about-arrow-big transition-animation" src={{site.data.links.about_img.dote_line}} alt="dote-line">
  <img class="absolute-img bottom small" src={{site.data.links.about_img.small_dote_line}} alt="dote-line">
  <div class="subtext">{{site.data.about.first_section.subtext}}</div>
</div>
