<div class="target-section">
  <div class="absolute"></div>
  <div class="target">
    <img class="target-img transition-animation" src={{site.data.links.about_img.target}} alt="Target">
    <div class="target-block transition-animation">
      <div class="title">{{site.data.about.fourth_section.title}}</div>
      <div class="subtitle">{{site.data.about.fourth_section.subtitle}}</div>
    </div>
  </div>
  <div class="small-rectangle"></div>
  <div class="subtext transition-animation-slow">{{site.data.about.fourth_section.subtext}}</div>
</div>
