---
layout: default
---
<div class="container mobile lines-fix">
  {% include lines.html %}

  <div class="single-section">

  <div class="experience">
    <div class="top-title">
      <div class="vacancy-title">
        Вакансия {{ page.title }}
      </div>
    </div>

    {% for card in page.card_description %}
    <div class="demands-blocks">
      <div class="bckg-line"></div>
      <div class="job vacancy-job transition-animation">
        <div class="title">{{card.name}}</div>
        {% for item in card.info %}
        <div class="inline">
          <hr><p>{{ item }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}

  </div>

   <div class="form vacancy-form transition-animation-slow">
     <div class="bckg-form"></div>
     <div class="form-content">
       <div class="iframe-border">
         <iframe class="frame" scrolling="no" src="{{site.data.contacts.iframe}}" frameborder="0"></iframe>
       </div>
     </div>
   </div>

  </div>

</div>